<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Ficus"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FicusRebuildLaunch"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ficus_old.Docs"
            android:theme="@style/Theme.FicusRebuild"
            android:exported="false" />
        <activity
            android:name=".ficus_old.ProfileData"
            android:theme="@style/Theme.FicusRebuild"
            android:exported="false" />

        <receiver
            android:name=".widgets.ScheduleWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".widgets.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:theme="@style/Base.Theme.FicusRebuildLaunch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>